body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: Open Sans WF,sans-serif;
}

/* Header/navigation */
nav {
    display: flex;
    background-color: #d81e05;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav a:link, nav a:visited {
    color: #FFFFFF;
    background-color: #d81e05;
    padding: 10px 10px 10px 10px;
}

nav a:hover{
    color: #FFFFFF;
    background-color: #b81a04;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    display: flex;
    border-left: 1px solid #b81a04;
}

ul {
    list-style-type: none;
}

#logo {
    width: 240px;
    height: 60px;
}

/* Footer */
footer p {
    display: flex;
    margin: 0;
    background-color: #d6d6d6;
}

/* Other */
textarea {
    resize: none;
}

.checklist {
    color: #51a334;
}

/* index.html */
.container-1-index {
    display: flex;
}

.container-1-index div {
    padding: 10px;
}

.box-1 {
    background-color: #d1d1d1;
    flex: 1;
    margin-right: 15px;
}

.box-2 {
    background-color: white;
    flex: 8;
}

.box-3 {
    background-color: #d1d1d1;
    flex: 1;
    margin-left: 15px;
}

/* profiel.html */
.container-1-profiel {
    display: flex;
}

.container-1-profiel div {
    border: 1px black solid;
    padding: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

form div {
    border: 1px black solid;
    padding: 10px;
    background-color: #dedede;
}

.box-1-profiel {
    flex: 1;
}

.box-2-profiel {
    flex: 8;
}

.box-3-profiel {
    flex: 1;
}

.form-fname {
    flex: 1;
}
.form-mname {
    flex: 1;
}
.form-lname {
    flex: 1;
}

.form-profielFoto {
    flex: 1;
}

.form-persoonInfo {
    flex: 1;
}

.form-interesses {
    flex: 1;
}

.form-socialMedia {
    flex: 1;
}

.form-geslacht {
    flex: 1;
}

.form-contact {
    flex: 1;
}

.form-budget {
    flex: 1;
}

.form-leeftijdMatch {
    flex: 1;
}

.form-soortVakantie {
    flex: 1;
}

.form-duurVakantie {
    flex: 1;
}

.form-submit {
    flex: 1;
}

/* matches.html met potentiële_matches.html */
.container-1-matches {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container-1-matches div {
    border: 1px black solid;
    border-right: 0;
}

.box-1-matches {
    flex: 1;
}

.box-2-matches {
    flex: 1;
}

.box-3-matches {
    flex: 1;
}

.img-profielFoto {
    width: 200px;
}

/* over.html */

/* contact.html */
