html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
    font-family: Open Sans WF,sans-serif;
    overflow-x: hidden;
}

/* Header/navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.header-logo {
    display: flex;
    width: 240px;
    height: 60px;
}

.middle-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #d81e05;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    color: #FFFFFF;
    background-color: #b81a04;
}

.list-link:link, .list-link:visited {
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    border-left: 1px solid black;
}

.list-link-logo:link, .list-link-logo:visited {
    display: flex;
    color: #FFFFFF;
    padding: 9px 25px 9px 25px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50px;
    font-size: 1.07692rem;
    background-color: #d81e05;
}

.nav-links li {
    display: inline-block;
}

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.checklist {
    display: flex;
    color: #51a334;
    padding: 0;
    margin: 0;
}

/* Footer */


/* index.html */
.main-index{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.container-1-index{
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

/* profiel.html */
.main-profiel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1-profiel {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container-1-profiel .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

/* Profiel input */
.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box label.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.user-details .input-box input:focus {
    border-color: #d81e05;
}

/* SOCIAL MEDIA */
.socialmedia{
    padding-top: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.socialmedia input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-top: 10px;
}

.socialmedia input:focus {
    border-color: #d81e05;
}
/* Geslacht in form */
form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 14px 0;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin: 2px 10px 2px 0;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    background: #d81e05;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

/* Opslaan button in form */
form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #d81e05;
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: #b81a04;
}

/* selections */
.selections {
    display: flex;
    flex: 2;
    justify-content: space-between;
}

#interesses, #budget, #soortVakantie {
    width: 100%;
    height: 200px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

#interesses:focus, #budget:focus, #soortVakantie:focus{
    border-color: #d81e05;
}

label.interesses, label.budget, label.soortVakantie {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

/* matches.html met potentiële_matches.html */
.container-1-matches {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.img-profielFoto {
    width: 200px;
}

/* over.html */
.main-over {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.container-1-over {
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.titel-over {
    text-align: center;
}

.content-over {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info {
    transform: translateX(400%);
    transition: transform 1s ease;
}

.info:nth-of-type(even) {
    transform: translateX(-400%)
}

.info.show {
    transform: translateX(0%);
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px #2B2B2BFF solid;
    border-bottom: 2px #2B2B2BFF solid;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    border-radius: 5px;
    max-width: 370px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.subtitel-over {
    align-self: center;
}

/* contact.html */

/* Slider op main page */
.sliderBox {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width:800px;
    height:500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Automatische slides */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: white ;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: white;
}

/* potientiële_matches.html */

body.container-1-matches {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 24px;
}

.container-1-matches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 24px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
}

.box-1-matches, .box-2-matches, .box-3-matches {
    width: 20em;
    background-color: white;
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0.3em 0.7em;
    transition: all 1s ease-in-out;
}

.isOpen .box-1-matches p .box-2-matches p .box-3-matches p {
    margin-top: 30px;
    margin-left: 40px;
}

.kleur_foto {
    padding: 3em 0;
    background-image:  linear-gradient(#e66465, #9198e5);
}

.kleur_foto img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0 0.6em 1.8em;
    object-fit: cover;

}

.content_matches {
    color: #565656;
    padding: 2.2em;
}


.work_description {
    color: grey;
    font-size: 18px;
}

.button_profiel {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 1.2em;
    padding: 1em 3em;
    border-radius: 5em;
    overflow: hidden;
}

.button_profiel:hover {
    cursor: pointer;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 24px;
}

.twitter_image, .instagram_image, .linkedin_image, .facebook_image  {
    width: 40px;
    margin: 4px;
}

.twitter_image:hover, .instagram_image:hover, .linkedin_image:hover, .facebook_image:hover {
    transform: scale(2,2);
}

button:hover, a:hover {
    opacity: 0.7;
}

.change_btn {
    margin-top: 130px;
    margin-right: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

/* profiel_match.html */
main.container-1-profiel_match {
    margin: 0;
    padding: 0;
    font-family: Open Sans WF,sans-serif;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
}

.foto_match{
    width: 200px;
    height: auto;
}

*.container-1-profiel_match {
    box-sizing: border-box;
}

.container-1-profiel_match {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
}

.twitter_image, .instagram_image, .facebook_image, .linkedin_image {
    width: 40px;
    padding: 3px;
}

.box-1-profiel_match {
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(#FE5F75, #FC9842);
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
}

.foto_match{
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}

.box-1-profiel_match ul {
    margin-top: 30px;
    text-align: center;
    margin-right: 40px;
    font-size: 30px;
}

.box-1-profiel_match ul li {
    list-style: none;
    margin-top: 50px;
    font-weight: 100;
}

.box-1-profiel_match ul li a {
    cursor: pointer;
    margin-left: 0;
}

.box-1-profiel_match ul li a:hover {
    opacity: 0.6;
}

.about {
    margin-left: 20px;
    flex: 50%;
    display: table;
    padding: 30px 30px;
    font-size: 20px;
    background-color: #dddddd;
    border-radius: 20px;
}

.about h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

.about ul li {
    list-style: none;
}

.about.ul {
    margin-top: 20px;
}

/* match buttons */
.button_Match {
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 40px;
    background-color: #55fc42;
    color: #000000;
    padding: 30px 30px;
    border-radius: 20px;
}

.button_DontMatch {
    position: relative;
    left: 320px;
    bottom: 140px;
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 40px;
    background-color: #ff0d0d;
    color: #000000;
    padding: 30px 30px;
    border-radius: 20px;
}

/* 404.html */
.main-404 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1-404 {}

.title-404 {
    font-size: 25px;
}

/* Footer */
.container-1-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #d6d6d6;
    padding: 25px;
}

.container-1-footer p {
    padding: 0;
    margin: 0;
}

/* Other */
textarea {
    resize: none;
}

/* CSS for smaller displays */
@media (max-width: 768px) {
    .container-1-matches  {
        flex-direction: row;
        padding-top: 20px;
        text-align: center;
    }

    .box-1-matches, .box-2-matches, .box-3-matches{
        margin-bottom: 20px;
    }

    .content-over {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
}