body {
    background-color: #fafafa;
    font-family: Open Sans WF,sans-serif;
}

.container-1 {
    display: flex;
}

.container-1 div {
    border: 1px #ccc solid;
    padding: 10px;
}

.box-1 {
    background-color: darkturquoise;
    flex: 1;
}

.box-2 {
    background-color: rebeccapurple;
    flex: 1;
}

.box-3 {
    background-color: green;
    flex: 1;
}

/* Navigation */
nav {
    display: flex;
    background-color: #d81e05;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav a:link, nav a:visited {
    color: #FFFFFF;
    background-color: #d81e05;
    padding: 10px 10px 10px 10px;
}

nav a:hover{
    color: #FFFFFF;
    background-color: #b81a04;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    display: flex;
    border-left: 1px solid #b81a04;
}

ul {
    list-style-type: none;
}

/* ::-webkit-scrollbar {
    display: none; // Hide vertical scrollbar

}
*/
#logo {
    width: 240px;
    height: 60px;
}

/* Navigation */
footer p {
    display: flex;
    margin: 0;
    background-color: #d6d6d6;
}

.checklist {
    color: #51a334;
}

profielbox {
    border: #b81a04 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 700px;
    margin: 20px auto 20px;
    box-shadow: 0 0 2px #d81e05;
}

#naam{
    padding: 10px;
    resize: none;
    float: top;
    align-content: flex-end;
}

#tekstProfielFoto{
    font-weight: bold;
    align-content: flex-end;
}

#eigenTekst{
    min-height: 150px;
    padding: 10px;
    resize: none;
}

textarea{
    resize: none;
    border: 1px solid #b81a04;
    box-shadow: 0 0 2px #b81a04;
    border-radius: 8px;
    outline: none !important;
}

#interesses{
    height: 200px;
    border: 1px solid #b81a04;
    box-shadow: 0 0 2px #b81a04;
    border-radius: 2px;
    outline: none !important;
}


#geslacht{
    border: 1px solid #b81a04;
    box-shadow: 0 0 2px #b81a04;
    border-radius: 2px;
    outline: none !important;
    padding: 1px;
}

#whatsappCheckbox{
    accent-color: #d81e05;
}

#telegramCheckbox{
    accent-color: #d81e05;
}

.column {
    float: left;
    width: 33%;
    padding: 5px;
    margin: 2px;
    border: black 1px solid;
}

.column img {
    width: 100%;
}

.column h2 {
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

